<div>
	<label>Input Command: <input [(ngModel)]="command"
		placeholder="command line">
	</label>
	<button (click)="onButtonClick()">Execute Command</button>
	<h2>type:{{responseData?.type}}</h2>
	<div [ngSwitch]="responseData?.type">
		<div *ngSwitchCase="'table'">
			<h2>Table Data,type:{{responseData?.type}}</h2>
			<div>{{responseData}}</div>
			
		</div>
		<div *ngSwitchCase="'any'">
			<h2>Any Data,type:{{responseData?.type}}</h2>
			<div>{{responseData}}</div>
		</div>
		<div *ngSwitchDefault>UnknownData</div>
	</div>
</div>