
<h2>Stock Id:{{stockId}}</h2>
<table>
	<tr>
		<td id="left-layout">
			<table id='quick-links-of-stock' class="left-align">
				<tbody>
					<tr>
						<td><a
							href='http://www.cninfo.com.cn/information/companyinfo_n.html?fulltext?szmb{{stockId}}'
							target='_blank'>公告(www.cninfo.com.cn)</a></td>
					</tr>
					<tr>
						<td><a href='https://xueqiu.com/S/SZ{{stockId}}'
							target='_blank'>雪球(xueqiu.com)</a></td>
					</tr>
					<tr>
						<td><a
							href='http://quotes.money.163.com/f10/dbfx_{{stockId}}.html'
							target='_blank'>杜邦分析(quotes.money.163.com)</a></td>
					</tr>
					<tr>
						<td><a
							href='http://money.finance.sina.com.cn/corp/go.php/vCB_Bulletin/stockid/{{stockId}}/page_type/ndbg.phtml'
							target='_blank'>年度报告(money.finance.sina.com.cn)</a></td>
					</tr>
				</tbody>
			</table>
		</td>
		<td id="right-layout">
			<table id="basic-info-of-stock">
				<tbody>
					<tr>
						<td><button (click)=onRefreshStockDetail()>刷新</button></td>
					</tr>
					<tr>
						<td>股票名称:{{stockName}}</td>
					</tr>
					<tr>
						<td>股价({{priceDate}}):{{unitPrice}}</td>
					</tr>
					<tr>
						<td>市值:{{totalPrice}}</td>
					</tr>

				</tbody>
			</table>
		</td>
	</tr>

</table>